* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
    font-family: 'Roboto';
}

.tatup1 {
    width: 471px;
    height: 258px;
    margin: 50px auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #FCEBEB;
}

.rectangle1 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    height: 228px;
    color: #000000;
    display: flex;
    align-items: center;
}

.img-container {
    width: 240px;
    height: 100%;
    text-align: center;
    font-size: 14px;
}

.img-container img {
    width: 160px;
    margin: 25px 35px 20px;
}

.text-container {
    text-align: center;
    width: 230px;
    height: 100%;
}

.text-container h2 {
    text-align: center;
    line-height: 21px;
    color: #FF4848;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-top: 35px;
}

.text-container h1 {
    text-align: center;
    line-height: 56px;
    color: #FF4848;
    font-weight: 500;
    font-size: 48px;
    margin-top: 45px;   
}

.text-container img {
    margin-top: 52px;
    margin-left: 80px;
}

.rectangle2 {
    background-color: #FF1515;
    color: white;
    font-weight: 700;
    text-align: center; 
    padding: 6px;   
}

.tatup2 {
    width: 471px;
    height: 258px;
    margin: auto;
    background: #FFFFFF;
}

.img-container2 {
    display: flex;
}

#pin {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: white;
    line-height: 28px;
}

.form input {
    width: 230px;
    height: 40px;
}

#logo-img {
    width: 55px;
    height: 55px;
    margin-top: 17px;
    margin-left: 17px;
}

.form-container {
    position: relative;
    top: 14px;
    left: 25px;
}

.form {
    position: absolute;
    top: 10px;
    left: 30px;
}

.p-container {
    text-align: center;
    margin-top: 6px;
}

#p1 {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-decoration: underline;
}

#p2 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: 10px;
}

#p3 {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}

#p4 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
}

.line-container {
    border-top: 2px solid #AAA6A6;
    border-bottom: 2px solid #AAA6A6;
    display: flex;
}

.line-text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    margin-left: 30px;
}

.line-container img {
    margin: 15px 0 0 200px;
}